html
{
    display: inline-block;
}

.ipad1
{
    height: 500px;
    width: 900px;
    padding-top: 10px;
    padding-left: 500px;
    padding-right: 100px;
    padding-bottom: 100px;
}


li 
{
display: inline-flex;
}

.unitlink
{
    height: 692px;
}

.center {
    display: block;
    margin-left: 175px;
    margin-right: auto;
    width: 50%;
  }

.learn
{
    color: white;
    text-decoration: none;
    text-align: center;
    padding-left: 145px;
}

.buy
{
    color: white;
    text-decoration: none;
    text-align: center;
    padding-left: 890px;
}

.buybutton
{
  background-color: blue;
  border: none;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 20px;
}

.buybutton:hover
{
    color: red;
    text-decoration: none;
}


body {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    background-color: black;
    color: #1d1d1f;
    font-style: normal;
    background-image: url('https://4kwallpapers.com/images/wallpapers/ios-13-stock-ipados-yellow-black-background-amoled-hd-2732x2732-797.png');
}

.headline 
{
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    color: white;
    text-align: center;
    border-bottom: 2px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.logo
{
    height: 20px;
    width: 20px;
}

.subhead
{
    font-size: 28px;
    border-top: 2px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 6px;
    color: white;
    text-align: center;
}

a
{
    color: white;
    text-decoration: none;
    padding-left: 40px;
    text-align: center;
}

a:hover
{
    color: red;
    text-decoration: none;
}

div
{
    height: 40px;
    text-align: center;
}

.desc1
{
    font-size: 28px;
    border-top: 2px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 6px;
    color: white;
    text-align: left;
    background: black
}

.desc2
{
    font-size: 28px;
    border-top: 2px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 6px;
    color: white;
    text-align: center;
    background: black
}

.desc3
{
    font-size: 28px;
    border-top: 2px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 6px;
    color: white;
    text-align: right;
    background: black
}